.ah-foldout {
  border-bottom: 1px solid #e0e0e0;
}

.ah-foldout:last-child {
  border-bottom: none;
}

.ah-foldout > summary {
  background: var(--ah-color-background-control-header);
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.2s ease;
  padding: 0 0.5rem;
  border-radius: 4px;
  box-shadow: 1px 2px var(--color-primary);

  span,
  label,
  i {
    --color-text-primary: var(--ah-color-app-item-header-content);
    color: var(--color-text-primary);
    text-shadow: 1px 1px var(--ah-color-app-item-header-shadow);
    font-weight: var(--font-weight-bold);
    font-size: large;
  }
}

.ah-foldout > summary:hover {
}

.ah-foldout > summary::after {
  content: '\002B'; /* Plus sign */
  font-size: 1.2em;
  transition: transform 0.3s ease;
}

.ah-foldout[open] > summary {
  opacity: 1;
}

.ah-foldout[open] > summary::after {
  content: '\2212'; /* Minus sign */
  transform: rotate(180deg);
}

.ah-foldout > .ah-foldout__content {
  padding: 15px 20px;
  line-height: 1.6;
  background: var(--ah-background-control);
  border-radius: 5px;
  border: 1px solid var(--ah-border-control);
}

.ah-foldout[open] > .ah-foldout__content {
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
