.ah-foldout {
  border-bottom: 1px solid #e0e0e0;
}

.ah-foldout:last-child {
  border-bottom: none;
}

.ah-foldout > summary {
  background: var(--ah-background-fieldset-header);
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.2s ease;
  padding: 0 0.5rem;

  span,
  label,
  i {
    font-size: large;
  }
}

.ah-foldout > summary:hover {
}

.ah-foldout > summary::after {
  content: '\002B'; /* Plus sign */
  font-size: 1.2em;
  transition: transform 0.3s ease;
}

.ah-foldout[open] > summary {
  opacity: 1;
}

.ah-foldout[open] > summary::after {
  content: '\2212'; /* Minus sign */
  transform: rotate(180deg);
}

.ah-foldout > .ah-foldout__content {
  padding: 15px 20px;
  line-height: 1.6;
  background: var(--ah-background-fieldset);
  border-radius: 5px;
  border: var(--ah-border);
}

.ah-foldout[open] > .ah-foldout__content {
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
