.ah-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--ah-padding-input);
  gap: var(--ah-gap-input);

  i {
    font-size: var(--ah-font-size-input);
  }

  span {
    font-size: var(--ah-font-size-input);
  }

  input {
    font-size: var(--ah-font-size-input);
    color: var(--ah-content-primary);
  }
}

.ah-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;

  flex: 1 1 0;
  min-width: 0;
  padding: var(--ah-padding-input);

  &.--border {
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid var(--ah-color-border-input);
    border-radius: 3px;
  }

  i {
    order: 1;
    font-size: var(--ah-font-size-label-icon);
    line-height: 1;
    margin-top: 1px;
    opacity: 0.85;
  }

  span {
    order: 2;
    font-size: var(--ah-font-size-badge);
    text-transform: uppercase;
    letter-spacing: 0.01em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    line-height: 1.1;
  }

  select {
    order: 3;
    width: 100%;
    height: 1.4em;
    line-height: 1.4em;
    font-size: var(--ah-font-size-input-selector);
    color: var(--ah-content-primary);
    text-align: center;
    text-align-last: center;
    border: none;
    background: transparent;
    padding: 0;
    margin-top: 1px;
  }
}



.ah-badge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  --badge-size: 40px;

  i {
    font-size: var(--ah-font-size-label-icon);
  }

  span {
    font-size: var(--ah-font-size-badge);
  }

  input {
    font-size: var(--ah-font-size-input);
    background: transparent;
    color: unset;
    border: none;
    text-align: center;
    width: 40px;
  }

  &.--wide {
    input {
      width: 100px;
    }
  }
}
