.ah-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--ah-input-padding);
  gap: var(--ah-input-gap);

  i {
    font-size: var(--ah-input-font-size);
  }

  span {
    font-size: var(--ah-input-font-size);
  }

  input {
    font-size: var(--ah-input-font-size);
    color: var(--ah-content-primary);
    min-width: 48px;
  }

  &.--transparent {
    gap: 0;
    input {
      background: transparent;
      text-align: center;
      border: none;
    }
  }
}

.ah-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;


  flex: 1 1 0;
  min-width: 0;
  padding: var(--ah-input-padding);

  &.disabled {
    opacity: 0.75;
  }

  &.--border {
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid var(--ah-input-color-border);
    border-radius: 3px;
  }

  i {
    order: 1;
    font-size: var(--ah-label-font-size-icon);
    line-height: 1;
    margin-top: 1px;
    opacity: 0.85;
  }

  span {
    order: 2;
    font-size: var(--ah-badge-font-size);
    text-transform: uppercase;
    letter-spacing: 0.01em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    line-height: 1.1;
  }

  select {
    order: 3;
    width: 100%;
    height: 1.4em;
    line-height: 1.4em;
    font-size: var(--ah-input-selector-font-size);
    color: var(--ah-content-accent-alt);
    text-align: center;
    text-align-last: center;
    border: none;
    background: transparent;
    padding: 0;
    margin-top: 1px;
  }
  .bonus {
    order: 4;
    color: var(--ah-badge-bonus-color);
    font-size: var(--ah-font-size-m);
  }

  &.--stretch{
    height: var(--ah-badge-height);
  }
}

.ah-badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  --badge-size: 40px;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  i {
    font-size: var(--ah-label-font-size-icon);
  }

  span {
    font-size: var(--ah-badge-font-size);
  }

  input {
    font-size: var(--ah-input-font-size);
    background: transparent;
    color: var(--ah-content-accent-alt);
    border: none;
    text-align: center;
    width: 40px;

    &[type=number] {
      font-size: var(--ah-badge-font-size-lg);
    }
  }

  &.--stretch {
    height: var(--ah-badge-height);
  }

  &.--wide {
    input {
      width: 100px;
    }
  }

  &.--row {
    flex-direction: row;
  }
}
