.ah-table {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;

  td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.ah-table__row__icon {
}

.ah-table__cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ah-table__column__primary {
  width: 120px;

  .ah-table-column__primary__name {
    font-size: var(--ah-font-size-label);
    font-family: var(--ah-font-primary) sans-serif;
    color: var(--ah-color-primary);
    font-weight: var(--ah-font-weight-bold);
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 1;
  }

  .ah-table-column__primary__image {
    width: 24px;
    height: 24px;
    border-radius: 5px;
    background: linear-gradient(to right, var(--ah-color-primary), var(--ah-color-secondary));
    transition:
      transform 0.3s ease,
      opacity 0.3s ease;

    &:hover {
      transform: scale(1.1);
      transform-origin: center;
      opacity: 0.75;
    }
  }
}

.ah-table__column__description {
}

.ah-table__column__properties {
}

.ah-table__column__actions{
  display: flex;
  justify-content: center;
  align-items: center;

  > * {
    flex: 0 0 auto;
  }
}
