.ah-table {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
  background: var(--ah-background-table);

  thead {
    background: var(--ah-background-table-header);
    tr {
      th {
        text-align: center;
      }
    }
  }

  tbody {
    background: var(--ah-background-table-body);
    tr {
      background: var(--ah-background-table-row);
    }
  }

  td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.ah-table__cell {
  display: flex;
  gap: 1rem;
}

.ah-table__column__primary {
  width: 200px;

  .ah-table-column__primary__name {
    font-size: var(--ah-font-size-label);
    font-family: var(--ah-font-body) sans-serif;
    color: var(--ah-color-primary);
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 1;
  }

  .ah-table-column__primary__image {
    width: 24px;
    height: 24px;
    border-radius: 5px;
    background: var(--ah-action-content);
    border: 1px solid var(--ah-border-control);
    transition:
      transform 0.3s ease,
      opacity 0.3s ease;

    &:hover {
      transform: scale(1.1);
      transform-origin: center;
      opacity: 0.75;
    }
  }
}

.ah-table__column__properties {
}

.ah-table__column__actions{
  > * {
    flex: 0 0 auto;
  }
}

.ah-table-column__damage {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
}
