.ah-application {

  table th, table td {
    text-align: center;
  }

  table tbody tr {
    background: var(--ah-table-background-row);
  }

  table tbody tr:nth-child(even) {
    background: var(--ah-table-background-row-alt);
  }
}

.ah-table__collection {
  display: flex;
  flex-direction: column;

  table {
    margin-top: 0;
  }
}

.ah-table {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
  border: var(--ah-table-border);
  border-radius: var(--ah-border-radius);
  background: var(--ah-table-background);
  font-family: var(--ah-table-font-family), serif;

  caption {
    span {
      font-size: var(--ah-table-caption-font-size);
      display: flex;
      color: var(--ah-table-caption-color);
      flex-direction: row;
      align-items: center;
      text-transform: uppercase;
      justify-content: center;
      gap: 1rem;
      padding: 4px;
    }
  }

  thead {
    background: none;
    border: none;
    font-size: var(--ah-table-header-font-size);
    tr {
      th {
        text-align: center;

        &.--static {
          position: static;
        }

      }
    }
  }

  tbody {
    font-size: var(--ah-table-body-font-size);
    tr {
      height: var(--ah-table-row-height);
      background: none !important;
      border-bottom: 1px solid var(--ah-table-row-divider);
    }
    tr:nth-child(even) {
      background: none !important;
    }
    tr:last-child {
      border: none;
    }
  }

  td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: var(--ah-table-row-padding);
  }
}

.ah-table__cell {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  &.--center {
    align-items: center;
    justify-content: center;
  }

  &.--right {
    justify-content: flex-end;
    text-align: right;
  }
}

.ah-table__column__primary {
  width: 200px;

  .ah-table-column__primary__name {
    font-size: var(--ah-font-size-label);
    color: var(--ah-color-primary);
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 1;

    span {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .ah-table-column__primary__image {
    width: 24px;
    height: 24px;
    border-radius: 5px;
    background: var(--ah-content-action);
    border: 1px solid var(--ah-border-control);
    transition:
      transform 0.3s ease,
      opacity 0.3s ease;

    &:hover {
      transform: scale(1.1);
      transform-origin: center;
      opacity: 0.75;
    }
  }
}

.ah-table__column__item__properties {
  span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
  }
}

.ah-table__column__item__cost {
  span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
  }
}

.ah-table__column__actions{
  > * {
    flex: 0 0 auto;
  }
}

.ah-table-column__damage {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
}
