.ah-chat-section__flavor {
  h2 {
    flex-grow: 8;
    margin-left: 4px;
  }
}

.ah-chat-section__check {
}

.ah-chat-section__check__inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.1rem;
  font-variant: small-caps;
}

.ah-chat-section__check__outcome {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  background: var(--ah-background-default);

  &.critical {
    background: var(--ah-background-critical);
  }

  &.success {
    background: var(--ah-background-success);
  }

  &.failure {
    background: var(--ah-background-failure);
  }

  &.fumble {
    background: var(--ah-background-fumble);
  }

}

.ah-chat-section__check__outcome__number {
  font-weight: 700;
  font-size: 18px;
  color: white;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
}

.ah-chat-section__check__outcome__text {
  font-size: 16px;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.ah-chat-section__check__result {
  span {
  }
}

.ah-chat-section__damage__box {
  display: flex;
  gap: 0.25rem;
  flex-wrap: wrap;
  font-size: var(--ah-font-size-label);
  width: 100%;

  background: var(--ah-background-result);
  border: 1px solid var(--ah-border-result);
  border-radius: 4px;

  align-items: center;
  justify-content: space-around;

  label {
    display: inline-flex;
    gap: 0.15rem;
    padding: 0.1rem 0.35rem;
  }
}
