.ah-chat-section {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 4px;
}

/*--FLAVOR--*/

.ah-chat-section__flavor {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.125rem;
  gap: 4px;
  margin-bottom: 0.125rem;
  margin-top: 0.5rem;

  h2 {
    flex-grow: 8;
  }
}

.ah-chat-section__flavor__name {
  margin-left: 4px;
  font-size: var(--ah-font-size-message-header);
  font-weight: bold;
  font-variant: small-caps;
}

/*--CHECK--*/

.ah-chat-section__check__details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.ah-chat-section__check__details__group {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  color: var(--ah-primitive-color-white);
  font-size: var(--ah-text-size-m);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  background: var(--ah-background-components);
  box-shadow: 1px 1px #3a3837;

}

.ah-chat-section__check__components {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 3;
  flex-wrap: wrap;
}

.ah-chat-section__check__component {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ah-chat-section__check__total {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex: 2;

  color: var(--ah-primitive-color-white);
  font-size: var(--ah-text-size-m);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  --background: var(--ah-background-result);
  background: var(--background);
  border-right: 2px solid var(--ah-border-component);

  &.--damage {
    --background: var(--ah-background-damage);
  }
}

.ah-chat-section__check__outcome {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  background: var(--ah-background-default);

  &.critical {
    background: var(--ah-background-critical);
  }

  &.success {
    background: var(--ah-background-success);
  }

  &.failure {
    background: var(--ah-background-failure);
  }

  &.fumble {
    background: var(--ah-background-fumble);
  }

}

.ah-chat-section__check__outcome__number {
  font-weight: 700;
  font-size: 18px;
  color: white;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
}

.ah-chat-section__check__outcome__text {
  font-size: 16px;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.ah-chat-section__check__result {
  span {
  }
}

/*--DAMAGE--*/
.ah-chat-section__damage__component {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  justify-content: center;
  flex-wrap: wrap;
}

.ah-chat-section__damage__modifier {
  &.--status {
    color: var(--ah-modifier-status-color);
  }
  &.--equipment {
    color: var(--ah-modifier-equipment-color);
  }
 }

.ah-chat-section__damage__box {
  display: flex;
  gap: 0.25rem;
  flex-wrap: wrap;
  font-size: var(--ah-font-size-label);
  width: 100%;

  background: var(--ah-background-damage);
  border: 1px solid var(--ah-border-damage);
  border-radius: 4px;

  align-items: center;
  justify-content: space-around;

  label {
    display: inline-flex;
    gap: 0.15rem;
    padding: 0.1rem 0.35rem;
  }
}

.ah-chat-section__damage__actions {
  margin-top: 0.125rem;
  display: flex;
  flex-direction: row;
}


/*--ACTIONS--*/
.ah-chat-section__targets {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.ah-chat-section__target {
  display: flex;
  flex-direction: row;
  box-shadow: 1px 1px #3a3837;
  padding-left: 8px;
  color: var(--ah-content-primary);
  background: var(--ah-potency-unknown-surface);

  &.reduced {
    background: var(--ah-potency-reduced-surface);
  }

  &.standard {
    background: var(--ah-potency-standard-surface);
  }

  &.powerful {
    background: var(--ah-potency-powerful-surface);
  }
}

.ah-chat-section__target__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;

   a{
     display: flex;
   }
}

.ah-chat-section__target__name {
  flex: 2;
  gap: 0.5rem;
}

.ah-chat-section__target__potency {
  flex: 2;
  display: flex;
  text-transform: uppercase;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
}

.ah-chat-section__target__actions {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.ah-chat-section__actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.125rem;
  margin-top: 0.25rem;
  gap: 5px;
}

.ah-chat-action {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;

  background: var(--ah-action-surface);

  &.--transparent {
    background: transparent;
    i, img {
      border: none;
    }
  }

  &.--compact {
    gap: 0;
  }

  i, img {
    width: 24px;
    height: 24px;

    color: var(--ah-action-content);
    text-shadow: 1px 1px var(--ah-text-shadow-control);
    font-variant: small-caps;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.063rem;
    text-rendering: optimizeLegibility;
    -webkit-box-align: center;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding-left: 4px;
    padding-right: 4px;
    background: #e8e8e8;
    border: 1px solid black;
  }
}
