.ah-chat-section {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/*--FLAVOR--*/

.ah-chat-section__flavor {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.125rem;
  gap: 4px;
  margin-bottom: 0.125rem;
  margin-top: 0.5rem;

  h2 {
    flex-grow: 8;
  }
}

.ah-chat-section__flavor__name {
  margin-left: 4px;
  font-size: var(--ah-font-size-message-header);
  font-weight: bold;
  font-variant: small-caps;
}

/*--CHECK--*/

.ah-chat-section__check {
}

.ah-chat-section__check__details {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.5rem;
}

.ah-chat-section__check__details__group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.ah-chat-section__check__components {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px var(--ah-color-shadow-control);
    border-radius: 10px;
    margin: 2px auto 5px;
    height: 100%;
    width: 100%;
  }
}

.ah-chat-section__check__total {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  color: var(--ah-primitive-color-white);
  font-size: var(--ah-text-size-m);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

  --background: var(--ah-background-result);

  padding: 0.2rem;
  background: var(--background);
  box-shadow: 1px 2px var(--ah-color-shadow-control);
  border-radius: 10px;

  &.--damage {
    --background: var(--ah-background-damage);
  }
}

.ah-chat-section__check__outcome {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  background: var(--ah-background-default);

  &.critical {
    background: var(--ah-background-critical);
  }

  &.success {
    background: var(--ah-background-success);
  }

  &.failure {
    background: var(--ah-background-failure);
  }

  &.fumble {
    background: var(--ah-background-fumble);
  }

}

.ah-chat-section__check__outcome__number {
  font-weight: 700;
  font-size: 18px;
  color: white;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
}

.ah-chat-section__check__outcome__text {
  font-size: 16px;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.ah-chat-section__check__result {
  span {
  }
}

/*--DAMAGE--*/

.ah-chat-section__damage__box {
  display: flex;
  gap: 0.25rem;
  flex-wrap: wrap;
  font-size: var(--ah-font-size-label);
  width: 100%;

  background: var(--ah-background-result);
  border: 1px solid var(--ah-border-result);
  border-radius: 4px;

  align-items: center;
  justify-content: space-around;

  label {
    display: inline-flex;
    gap: 0.15rem;
    padding: 0.1rem 0.35rem;
  }
}


/*--ACTIONS--*/
.ah-chat-section__targets {
  display: flex;
  flex-direction: column;
}

.ah-chat-section__target {
  display: flex;
  flex-direction: row;
}

.ah-chat-section__actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0.125rem 0;
  gap: 5px;
}

.ah-chat-action {
  width: 100%;
  color: var(--ah-color-control);
  background: var(--ah-background-control);
  box-shadow: 0.063rem 0.1rem var(--ah-color-shadow-control);
  border: 0.063rem solid var(--ah-border-control);
  text-shadow: 1px 1px var(--ah-text-shadow-control);
  font-variant: small-caps;
  font-size: 0.813rem;
  font-weight: 700;
  letter-spacing: 0.063rem;
  text-rendering: optimizeLegibility;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0 0.375rem;
  white-space: wrap;
  word-break: break-all;
  display: inline-flex;
  margin: 0.0625rem 0;
}
