.ah-potency-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--ah-border-surface);
  border-radius: 8px;
  overflow: hidden;
  margin: 8px 0 0;

  .ah-potency-table__tier {
    width: 30px;
  }

  .ah-potency-table__components {
    padding: 6px 8px;
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: start;

    div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 4px;
      padding-right: 4px;
      background: #e8e8e8;
      border: 1px solid black;
    }
  }

  .ah-potency-table__row {
    &.--reduced {
      background: color-mix(in srgb, var(--ah-potency-reduced-surface) 15%, transparent);
      border-left: 3px solid var(--ah-potency-reduced-surface);

      .ah-potency-table__tier i {
        color: var(--ah-potency-reduced-icon);
      }
    }

    &.--standard {
      background: color-mix(in srgb, var(--ah-potency-standard-surface) 15%, transparent);
      border-left: 3px solid var(--ah-potency-standard-surface);

      .ah-potency-table__tier i {
        color: var(--ah-potency-standard-icon);
      }
    }

    &.--powerful {
      background: color-mix(in srgb, var(--ah-potency-powerful-surface) 25%, transparent);
      border-left: 3px solid var(--ah-potency-powerful-surface);

      .ah-potency-table__tier i {
        color: var(--ah-potency-powerful-icon);
      }
    }
  }



}
