.ah-potency-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--ah-border-surface);
  border-radius: 8px;
  overflow: hidden;

  .ah-potency-table__tier {
    width: 60px;
  }

  .ah-potency-table__description {
    padding: 6px 8px;
  }

  .ah-potency-table__actions {
    padding: 6px 8px;
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: end;
  }

  --ah-potency-reduced-surface: var(--ah-primitive-color-amber-600);
  --ah-potency-reduced-icon: var(--ah-primitive-color-amber-400);

  --ah-potency-standard-surface: var(--ah-primitive-color-green-600);
  --ah-potency-standard-icon: var(--ah-primitive-color-green-400);

  --ah-potency-powerful-surface: var(--ah-primitive-color-violet-600);
  --ah-potency-powerful-icon: var(--ah-primitive-color-violet-400);

  .ah-potency-table__row {
    &.--reduced {
      background: color-mix(in srgb, var(--ah-potency-reduced-surface) 15%, transparent);
      border-left: 3px solid var(--ah-potency-reduced-surface);

      .ah-potency-table__tier i {
        color: var(--ah-potency-reduced-icon);
      }
    }

    &.--standard {
      background: color-mix(in srgb, var(--ah-potency-standard-surface) 15%, transparent);
      border-left: 3px solid var(--ah-potency-standard-surface);

      .ah-potency-table__tier i {
        color: var(--ah-potency-standard-icon);
      }
    }

    &.--powerful {
      background: color-mix(in srgb, var(--ah-potency-powerful-surface) 25%, transparent);
      border-left: 3px solid var(--ah-potency-powerful-surface);

      .ah-potency-table__tier i {
        color: var(--ah-potency-powerful-icon);
      }
    }
  }



}
