.ah-application {

  input {
    background: var(--ah-background-input);
  }

  textarea {
    background: var(--ah-background-input);
  }

  .window-header {
    background-color: var(--ah-background-application-header);
  }

  .window-content {
    background:  var(--ah-background-image-application), var(--ah-background-application);
    background-blend-mode: var(--ah-background-blend-mode-application);
    color: var(--ah-color-application);
  }

  .tabs {
    background: var(--ah-background-application);
  }
}
