.ah-application {

  background: transparent;
  font-family: var(--ah-font-family-application), serif;

  input[type='text'] {
    background: var(--ah-background-input);
  }

  textarea {
    background: var(--ah-background-input);
  }

  .window-header {
    background-color: var(--ah-background-application-header);
  }

  .window-content {
    background:  var(--ah-background-image-application), var(--ah-background-application);
    background-blend-mode: var(--ah-background-blend-mode-application);
    color: var(--ah-color-application);

    opacity: 0.95;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px); /* Electron sometimes needs this */
  }

  .tabs {
    background: var(--ah-background-application-tabs);
    padding: 4px;
    text-transform: uppercase;

    a {
      opacity: 0.5;
      &.active {
        opacity: 1;
      }
    }
  }

  .editor-container .editor-content {
    background: var(--ah-background-input);
    border: 1px solid var(--ah-border-surface);
  }

  fieldset {
    background: var(--ah-background-fieldset);
    border-radius: 8px;
    border: 1px solid var(--ah-border-surface);

    legend {
      display: flex;
      border-radius: 10px;
      margin: 0 auto;
      padding: 2px 10px;
      background: var(--ah-background-fieldset-header);
      color: var(--ah-primitive-color-white);
      position: relative;
      text-align: center;
      width: auto;
      border: 0.02em solid var(--ah-border-color-fieldset);
    }
  }
}
