.ah-application {

  background: transparent;

  input[type='text'] {
    background: var(--ah-background-input);
  }

  textarea {
    background: var(--ah-background-input);
  }

  .window-header {
    background-color: var(--ah-background-application-header);
  }

  .window-content {
    background:  var(--ah-background-image-application), var(--ah-background-application);
    background-blend-mode: var(--ah-background-blend-mode-application);
    color: var(--ah-color-application);

    opacity: 0.95;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px); /* Electron sometimes needs this */
  }

  .tabs {
    background: var(--ah-background-application-tabs);
    margin: 1rem;

    a {
      opacity: 0.5;
      &.active {
        opacity: 1;
      }
    }
  }

  .editor-container .editor-content {
    background: var(--ah-background-input);
    border: 1px solid var(--ah-color-border-surface);
  }
}
