.ah-dialog {

  section {
    fieldset {
      display: flex;
      flex-direction: column;
    }
  }

  &.--quick {
    background: transparent;
    header, footer {
      display: none;
    }
  }

  &.--grid {
    footer {
      display: grid;
      grid-column: span 2 / span 2;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}

.ah-dialog__table__wrapper {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.ah-dialog__table__wrapper thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

.ah-dialog__table__wrapper .ah-table--no-sticky thead th {
  position: static;
}

.ah-dialog-selection__group-check-input {
  cursor: pointer;
  filter: invert(1);
}

.ah-dialog-selection__filter {
  margin-bottom: 8px;
}

.ah-dialog__item {

}

.ah-dialog-item-grid {
  --grid-size: 64px;
  display: grid;
  grid-template-columns: repeat(3, minmax(var(--grid-size), 1fr)); /* 3 columns fixed */
  grid-template-rows: repeat(2, minmax(var(--grid-size), 1fr)); /* 2 rows fixed */
  gap: 10px;
  margin: 8px;

  max-height: calc(2 * var(--grid-size)) + 16px;
  overflow-y: auto;

  --entry-size: 80px;

  &.--text {
    --entry-size: 80px;
    label {
      background: var(--ah-surface-entry-gradient);
      border: var(--ah-border-thick);
    }
  }

  label {
    width: calc(var(--entry-size) * 2);
    height: var(--entry-size);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
    filter: brightness(1.8) grayscale(1) opacity(0.7);

    img {
      height: 100%;
    }

    &.selected {
      filter: unset;
    }

    &:hover {
      filter: brightness(1.2) grayscale(0.5) opacity(0.9);
    }
  }


}

.ah-dialog__output {
  font-size: var(--ah-font-size-xxl);
  padding: 4px;
  text-align: center;
  border: var(--ah-border-muted);
  background: var(--ah-background-result);
}
