.ah-flex-1 {
  flex: 1;
}

.ah-flex-2 {
  flex: 2;
}

.ah-flex-row {
  display: flex;
  flex-direction: row;

  &.--center {
    justify-content: center;
    align-items: center;
  }
}

.ah-flex-col {
  display: flex;
  flex-direction: column;

  &.--center {
    justify-content: center;
    align-items: center;
  }
}

.ah-flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &.--stack,&.--col{
    flex-direction: column;
  }
}

.ah-gap-1 {
  gap: 1rem;
}

.ah-grid {
  > *:only-child {
    grid-column: 1 / -1;
  }
}

.ah-grid,
.ah-grid-2 {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding: 0;
}

.ah-width-50 {
  width: 50%;
}
