.ah-inline {
  display: inline-flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: var(--ah-inline-line-height);

  border-radius: 0.5rem;
  font-size: var(--ah-inline-font-size);
  font-weight: bold;
  white-space: nowrap;
  word-break: break-all;
  color: var(--ah-inline-color);
  background: var(--ah-inline-background);
  box-shadow: 0.063rem 0.1rem var(--ah-inline-color-box-shadow);
  border: var(--ah-border);
  text-shadow: 1px 1px var(--ah-inline-color-text-shadow);
  margin: 0 0 1px 0;
  padding: 0 0.25rem;
  vertical-align: text-top;
  height: calc(var(--ah-inline-line-height) + 0.25rem);

  img {
    border: none;
    position: relative;
  }

  i {
    margin-left: 2px;
  }
}

.ah-inline-property {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  i {
  }
}

.ah-inline-property__name {
}

.ah-inline-property__value {
  font-size: var(--ah-inline-font-size);
  font-variant-numeric: tabular-nums;
}
