.ah-inline {
  display: inline-flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: var(--ah-line-height-inline);

  border-radius: 0.5rem;
  font-size: var(--ah-font-size-inline);
  font-weight: bold;
  white-space: nowrap;
  word-break: break-all;
  color: var(--ah-color-inline);
  background: var(--ah-background-inline);
  box-shadow: 0.063rem 0.1rem var(--ah-color-box-shadow-inline);
  border: var(--ah-border);
  text-shadow: 1px 1px var(--ah-color-text-shadow-inline);
  margin: 0 0 1px 0;
  padding: 0 0.25rem;
  vertical-align: text-top;
  height: calc(var(--ah-line-height-inline) + 0.25rem);

  img {
    border: none;
    position: relative;
  }

  i {
    margin-left: 2px;
  }
}

.ah-inline-property {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: var(--ah-font-size-inline);

  i {
  }
}

.ah-inline-property__name {
}

.ah-inline-property__value {
  border-radius: 3px;
  font-size: var(--ah-font-size-m);
  font-variant-numeric: tabular-nums;
}
