.ah-list__container {

  height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--ah-list-background);
  border: 1px solid var(--ah-color-border-list);

  &.--borderless {
    border: none;
  }

  .acc-list__container__header {
    display: flex;
    flex-direction: row;
    background: var(--ah-list-header-background);
    color: var(--ah-list-header-color);
    justify-content: space-between;

    i {
      color: var(--ah-icon-color);
    }

    .acc-list__container__header__title {
      padding: 4px;
      font-size: var(--ah-font-size-title);
      font-weight: bold;
    }
  }

  .acc-list__container__body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

ul.acc-list li,
ol.acc-list li {
  margin-bottom: 0;
}

.ah-list {

  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style: none;

  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  ul, ol {
    padding: 0;
    margin: 0;
  }

  &.--split {
    flex: 2;
  }

  &.--background {
    --ah-list-item-gap: 0.25rem;
    gap: var(--ah-list-item-gap);
    li {
      position: relative;
      align-items: center;
    }
    li:not(:last-child)::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: calc(var(--ah-list-item-gap) / -2 - 3px);
      height: 1px;
      background: var(--ah-table-row-divider);
    }
  }
}

.ah-list__header {
  display: flex;
  flex-direction: row;
}

.ah-list__entry {
  --entry-height: auto;
  --entry-left-width: 128px;
  --entry-img-width: 120px;
  --entry-img-height: 120px;
  --entry-padding: 0;
  --entry-bg: var(--ah-list-item-background);
  --name-size: 16px;
  --name-weight: 400;
  --entry-img-bg: var(--ah-surface-panel);

  display: flex;
  height: var(--entry-height);
  flex-direction: row;
  width: 100%;
  gap: 1rem;
  padding: var(--entry-padding);
  color: var(--ah-list-color);
  border: var(--ah-border);
  background: var(--entry-bg);
  background-blend-mode: multiply;
  background-position: right top;

  .ah-list__entry__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    min-width: var(--entry-left-width);
    max-width: var(--entry-left-width);

    img {
      object-fit: cover;
      width: var(--entry-img-width);
      height: var(--entry-img-height);
      background: var(--entry-img-bg);
      padding: 0;
      border: var(--ah-border);
    }

    .controls {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      gap: 1px;
    }
  }

  .ah-list__entry__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .ah-list__entry__name {
      font-size: var(--name-size);
      font-weight: var(--name-weight);
    }
  }

  .ah-list__entry__right {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .description,
  .ah-list__entry__description {
    overflow-y: auto;
    user-select: text;
  }

  &.--compact {
    --entry-height: 120px;
    --entry-img-width: 90px;
    --entry-img-height: 90px;
    --entry-padding: 1rem;
    --entry-bg: var(--ah-surface-panel-gradient);
    align-items: center;
    border: none;

    .ah-list__entry__header {
      display: block;
    }
  }

  &.--full {
    --entry-padding: 0.5rem 1rem;
    --entry-bg: var(--ah-surface-panel-gradient);
    --name-size: xx-large;
    --name-weight: 700;
    --entry-height: 180px;
    --entry-img-width: 120px;
    --entry-img-height: 120px;
    background-position: 0 0;
    position: relative;
  }

  &.--basic {
    --entry-padding: 0 0 0 1rem;
    --name-size: 20px;
    --name-weight: 700;
    justify-content: space-between;

    .ah-list__entry__header {
      gap: 1rem;
    }

    .ah-list__entry__name {
      text-wrap: nowrap;
    }
  }
}
