.ah-menu {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  gap: 1rem;

  --property-label-width: 160px;

  header {
    flex-shrink: 0;
  }

  main {
    overflow: auto;
    flex-grow: 1;
    padding: 15px 5px 10px 5px;
  }

  footer {
    flex-shrink: 0;
  }

  span {
    min-width: 160px;
  }
}

.ah-menu__toolbar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  background: var(--ah-color-gradient-surface);
  padding: 8px;
  border: var(--ah-border-width) solid var(--ah-color-border-surface);

  label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }
}

.ah-menu__buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
