.ah-message {
  text-align: left;
  padding: 0.313rem 0.5rem;
  margin: 5px 0;

  &.--header {
    color: #4a3d00;
    box-shadow: 1px 2px #7c6a00;
    background-image: linear-gradient(to bottom, rgb(255, 249, 196), rgba(255, 236, 150, 0.7));
    border-radius: 10px;
    border-top: 1px solid #f1e59d;
  }

  &.--warning {
    font-size: 0.875rem;
  }

  &.--banner {
    display: flex;
    font-size: var(--ah-font-size-xl);
    height: 100%;
    flex-wrap: nowrap;
    align-self: center;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  &.--center {
    align-self: center;
    text-align: center;
    flex-grow: 1;
  }
}
