.ah-application {

  font-family: var(--ah-font-family-application), serif;

  input[type='text'] {
  }

  textarea {
    background: var(--ah-background-input);
  }

  .window-header {
    background-color: var(--ah-background-application-header);
  }

  .window-content {
    background:  var(--ah-background-image-application), var(--ah-background-application);
    background-blend-mode: var(--ah-background-blend-mode-application);
    color: var(--ah-color-application);

    opacity: 0.95;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px); /* Electron sometimes needs this */
  }

  .tabs {
    background: var(--ah-background-application-tabs);
    text-transform: uppercase;
    gap: 0;
    border: none;
    line-height: 2;

    a {
      opacity: 0.5;
      border: 1px solid var(--color-tabs-border);
      background: var(--ah-surface-tab);
      flex: auto;

      &.active {
        opacity: 1;
        background: var(--ah-surface-tab-active);
      }
    }
  }

  .tabs__button {
    flex-shrink: 1;
  }

  .prosemirror.inactive {
    border: 1px solid var(--ah-surface-border);
    background: var(--ah-background-input);
    .editor-content {
      padding: 8px;
    }
  }

  .editor-container .editor-content {
    background: var(--ah-background-input);
    border: 1px solid var(--ah-surface-border);
    padding-left: 8px;
  }

  button {
    background: var(--ah-background-control);
    color: var(--ah-color-control);
    border-radius: 0;

    &:hover {
      background: var(--ah-color-control-hover);
    }
  }

  multi-select {
    flex-direction: column-reverse;
  }

  fieldset {
    background: var(--ah-background-fieldset);
    border-radius: 0;
    border: 1px solid var(--ah-surface-border);

    legend {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      padding: 0.2rem;
      gap: 0.5rem;
      color: var(--ah-primitive-color-white);
      position: relative;
      text-align: center;
      width: auto;


      label {
        justify-content: center;
        display: flex;
        align-items: center;
        gap: 0.1rem;
      }
    }

    &.--flush {
      background: transparent;
      border-color: transparent;

      legend {
        display: none;
        background: transparent;
        border-color: transparent;
      }
    }
  }
}

