/* Tab-level */
.ah-browser {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;

  .ah-browser__controls {
    flex-shrink: 0;
    display: flex;
    gap: 4px;
    flex-direction: column;
  }

  .ah-browser__content {
    flex: 1;
    overflow-y: auto;
    min-height: 0;
    padding: 8px;
  }
}

.ah-toolbar {
  display: flex;
  flex-direction: column;

  &.--stretch {
    width: 100%;
  }

  .ah-toolbar__search {
    flex: 2;

    input {
      height: 24px;
      background: var(--ah-color-bg-input);
    }
  }

  .ah-toolbar__button {
    background: none;
    border: none;

    i {
    }
  }

  .ah-toolbar__row__flat {
    display: flex;
    align-items: center;
    padding: 0;
  }

  .ah-toolbar__row {
    display: flex;
    align-items: center;
    padding: 4px;
    gap: 0.25rem;
  }

  .ah-browser__toolbar__label {
    min-width: 6rem;
    color: var(--ah-color-text);
    font-size: 1rem;
  }
}

/* Application-level */
.ah-application__browser {
  display: grid;
  height: 100%;
  grid-template-areas:
		'tabs tabs'
		'sidebar content';
  grid-template-rows: auto 1fr;
  grid-template-columns: 240px 1fr;

  .sheet-tabs.nav{
    grid-area: tabs;
  }
}

.ah-application__browser__sidebar {
  padding: 0.75rem;
  border-right: 1px solid var(--color-border-light-primary);
  overflow-y: auto;
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ah-application__browser__sidebar__filter {
  display: grid;
  /*grid-template-columns: repeat(2, minmax(0, 1fr));*/
  align-items: start;
}

.ah-application__browser__content {
  overflow-y: auto;
  grid-area: content;
  padding: 0.75rem 1.5rem 0.75rem 0.75rem;
}
