.sheet.journal-sheet {

  font-family: var(--ah-font-family-journal);

  .window-header {
    background: var(--ah-background-application-header);

    .window-title {
      font-size: var(--ah-font-size-lg);
    }
  }

  .window-content {


    h1 {
      margin: 0 0 16px;
    }

    h1,h2,h3,h4,h5,h6 {
      font-family: var(--ah-font-family-journal);
    }

    background: var(--ah-background-application);

    .sidebar {
      flex: 0 0 275px;
      background: var(--ah-surface-panel);
      border: 2px solid var(--ah-surface-base);

      search {
      }

      nav {
        background: var(--ah-surface-panel);

        div.page-heading {
          color: var(--ah-content-accent-alt);
        }

        li {
          border-bottom: 1px solid var(--ah-table-row-divider);
        }
        li:last-child {
          border: none;
        }
      }
    }

    .journal-entry-content {
      background: var(--ah-surface-entry-gradient);

      .journal-header {
        input {
          color: var(--ah-content-accent);
          background: none;
        }
      }

      h1 {
        padding: 8px;
        color: var(--ah-content-accent-alt);
        border-bottom: 4px solid var(--ah-table-row-divider);
      }

      h2{
        padding: 4px;
        border-bottom: 2px solid var(--ah-table-row-divider);
      }
    }
  }


}
