/* ============================================================
   TIER 2 — Semantic tokens
   What a value is *for*. References Tier 1 only.
   - Never used in components directly.
   - The convention is TYPE-CATEGORY-ROLE. (Where type are essentially CSS property families)
   ============================================================ */
:root {

  /* CONSTANT */
  --ah-color-dark: white;
  --ah-color-light: black;

  /* THEME: (Others are derived from) */
  --ah-color-background-primary: linear-gradient(to bottom, var(--ah-color-primary-fill-1) 0%, var(--ah-color-primary-fill-2) 100%);
  --ah-background-surface:  linear-gradient(to bottom, var(--ah-primitive-color-navy-950) 0%, var(--ah-primitive-color-navy-900b) 100%);
  --ah-color-background-overlay: linear-gradient(to bottom, rgba(10, 15, 30, 0.85) 0%, transparent 100%);
  --ah-color-primary: #ffffff;
  --ah-color-background-surface: red;
  --ah-background-application-header: var(--ah-primitive-color-navy-950);

  /*TEMP*/
  --ah-color-primary-fill-1: var(--ah-primitive-color-navy-900);
  --ah-color-primary-fill-2: var(--ah-primitive-color-navy-800);

  --ah-color-border-primary: #3d5080;

  /*Surface*/

  --ah-color-border-surface: #2f3a54;

  --ah-color-border-overlay: rgba(255, 255, 255, 0.08);
  --ah-border-width: 2px;
  --ah-border-radius: 4px;
  --ah-color-border: var(--ah-primitive-color-burgundy);
  --ah-color-border-card: #665151;
  --ah-color-border-title: var(--ah-primitive-color-border-title);
  --ah-color-border-panel: var(--ah-primitive-color-border-panel);

  /*--------------------- TYPOGRAPHY ---------------------*/
  /* Color */
  --ah-color-text: var(--ah-primitive-color-text);
  --ah-color-text-title: var(--ah-primitive-color-brown-dark);
  --ah-color-text-muted: var(--ah-primitive-color-dim);
  --ah-color-text-inverted: var(--ah-primitive-color-white);
  --ah-color-text-bullet: var(--ah-primitive-color-black);
  --ah-color-text-shadow: var(--ah-primitive-color-warm-brown);
  --ah-color-box-shadow: #000000ff;
  --ah-color-text-shadow-secondary: var(--ah-primitive-color-white);
  /* Font Sizes */
  --ah-text-size-header: 18px;
  --ah-text-size-xs: var(--ah-primitive-size-text-xs);
  --ah-text-size-sm: var(--ah-primitive-size-text-sm);
  --ah-text-size-m: var(--ah-primitive-size-text-m);
  --ah-text-size-base: var(--ah-primitive-size-text-base);
  --ah-text-size-lg: var(--ah-primitive-size-text-lg);
  --ah-text-size-xl: var(--ah-primitive-size-text-xl);
  /* Fonts */
  --ah-font-title: var(--ah-primitive-font-title);
  --ah-font-heading: var(--ah-primitive-font-heading);
  --ah-font-body: var(--ah-primitive-font-body);

  /*--------------------- ROLES ---------------------*/
  /* 1.1 Application Backgrounds */
    --ah-background-application: var(--ah-color-background-primary);
  --ah-background-application-tabs: var(--ah-color-background-overlay);
  --ah-background-image-application: var(--ah-primitive-image-placeholder);
  --ah-background-blend-mode-application: overlay, normal;
  --ah-color-application: white;
  --ah-font-size-application-name: 2rem;
  --ah-padding-application-part: 8px;
  --ah-padding-application-fields: 4px;
  /* Lists */
  --ah-background-list: var(--ah-primitive-color-parchment-light);
  --ah-background-list-header: var(--ah-primitive-color-taupe);
  --ah-color-list: var(--ah-primitive-color-text);
  --ah-color-list-header: var(--ah-primitive-color-text);
  --ah-color-border-list: var(--ah-color-border-panel);
  /* Tables */
  --ah-background-table: var(--ah-primitive-color-table);
  --ah-background-table-header: var(--ah-primitive-color-table);
  --ah-background-table-body: var(--ah-primitive-color-table);
  --ah-background-table-row: var(--ah-primitive-color-grey-850);
  --ah-background-table-row-alt: var(--ah-primitive-color-grey-800);
  /* Tabs */
  --ah-background-tab: color-mix(in srgb, var(--ah-color-background-primary) 60%, black 40%);
  --ah-background-tab-active: color-mix(in srgb, var(--ah-color-background-primary) 60%, black 40%);
  /* Field Sets */
  --ah-background-fieldset: var(--ah-primitive-color-navy-800);
  --ah-color-border-fieldset: var(--ah-primitive-color-grey-800);
  --ah-background-fieldgroup: color-mix(in srgb, var(--ah-primitive-color-navy-800) 50%, grey 40%);
  --ah-background-fieldset-header: var(--ah-primitive-color-warm-brown);
  --ah-gap-fields: 8px;
  /* Labels */
  --ah-font-size-label: 1.2em;
  --ah-font-size-label-icon: 1.5em;
  /* Inputs */
  --ah-background-input: #111827;
  --ah-padding-input: 2px;
  --ah-font-size-input: 1.1em;
  --ah-font-size-input-selector: 1em;
  --ah-gap-input: 4px;
  --ah-font-weight-input: 600;
  --ah-height-resource-bar: 1.5em;
  /* Icons */
  --ah-color-icon: var(--ah-primitive-color-burgundy-dark);
  --ah-color-icon-active: var(--ah-primitive-color-burgundy);
  --ah-color-icon-hover: color-mix(in srgb, var(--ah-primitive-color-burgundy), white 40%);
  --ah-color-bg-badge: var(--ah-primitive-color-burgundy);
  --ah-color-badge: var(--ah-primitive-color-grey-light);
  /*  Tags */
  /*  Inline */
  --ah-line-height-inline: 18px;
  --ah-color-inline: var(--ah-color-primary);
  --ah-color-box-shadow-inline: var(--ah-color-box-shadow);
  --ah-color-text-shadow-inline: var(--ah-color-text-shadow);
  --ah-background-inline:  var(--ah-color-background-primary);
  --ah-font-size-inline: var(--ah-primitive-size-text-sm);
  --ah-font-size-message-header: 20px;

  /*--------------------- CONTROLS ---------------------*/
  /* 2.1 Controls (Buttons, Tags) */
  --ah-color-control: var(--ah-primitive-color-white);
  --ah-color-control-hover: color-mix(in srgb, var(--ah-primitive-color-white), white 25%);
  --ah-background-control: var(--ah-background-surface);
  --ah-background-control-hover: var(--ah-primitive-color-azure);
  --ah-color-shadow-control: var(--ah-primitive-color-warm-brown);
  --ah-color-border-control: var(--ah-primitive-color-grey-mid);
  --ah-color-background-control-header: #404040;
  --ah-border-control: #148782ff;;
  --ah-text-shadow-control: #2b4a42ff;
  --ah-color-control-header: #E5DBD0;








  --ah-color-bg-input: var(--ah-primitive-color-parchment-light);


}
