/* ============================================================
   TIER 2 — Semantic tokens
   What a value is *for*. References Tier 1 only.
   - Never used in components directly.
   - The convention is TYPE-CATEGORY-ROLE. (Where type are essentially CSS property families)
   ============================================================ */
:root {

  /* CONSTANT */
  --ah-color-dark: white;
  --ah-color-light: black;

  /* ---------- SURFACE ---------- */
  --ah-surface-application: var(--ah-primitive-color-navy-950);
  --ah-surface-base: var(--ah-primitive-color-navy-900);
  --ah-surface-panel: var(--ah-primitive-color-navy-800);
  --ah-surface-panel-nested: var(--ah-primitive-color-navy-700);
  --ah-surface-hover: var(--ah-primitive-color-navy-400);

  --ah-border-radius: 4px;
  --ah-border-width: 2px;
  --ah-border-surface: var(--ah-primitive-color-navy-500);
  --ah-border-panel: var(--ah-primitive-color-navy-600);

  --ah-surface-tab: var(--ah-surface-panel-nested);
  --ah-surface-tab-active: var(--ah-surface-base);

  --ah-surface-accent: var(--ah-primitive-color-brown-500);
  --ah-border-accent: var(--ah-primitive-color-brown-600);

  /* ---------- CONTENT ---------- */
  --ah-content-primary: var(--ah-primitive-color-white-100);
  --ah-content-secondary: var(--ah-primitive-color-white-90);
  --ah-content-muted: var(--ah-primitive-color-white-70);
  --ah-content-disabled: var(--ah-primitive-color-white-50);
  --ah-content-on-accent: var(--ah-content-primary);

  --ah-content-tab: var(--ah-content-muted);
  --ah-content-tab-active: var(--ah-content-primary);

  --ah-content-icon: var(--ah-primitive-color-white-90);
  --ah-content-icon-hover: var(--ah-primitive-color-white-100);

  /* ---------- ACTION ---------- */
  --ah-action-surface: #945630;
  --ah-action-surface-hover: var(--ah-primitive-color-orange-400);
  --ah-action-surface-active: var(--ah-primitive-color-orange-600);
  --ah-action-content: var(--ah-primitive-color-white-100);

  /*--------------------- TYPOGRAPHY ---------------------*/
  /* Font weights */
  --ah-font-weight-normal: 400;
  --ah-font-weight-medium: 500;
  --ah-font-weight-bold: 700;
  /* Font Sizes */
  --ah-text-size-header: 18px;
  --ah-text-size-xs: var(--ah-primitive-size-text-xs);
  --ah-text-size-sm: var(--ah-primitive-size-text-sm);
  --ah-text-size-m: var(--ah-primitive-size-text-m);
  --ah-text-size-base: var(--ah-primitive-size-text-base);
  --ah-text-size-lg: var(--ah-primitive-size-text-lg);
  --ah-text-size-xl: var(--ah-primitive-size-text-xl);
  /* Fonts */
  --ah-font-title: var(--ah-primitive-font-title);
  --ah-font-heading: var(--ah-primitive-font-heading);
  --ah-font-body: var(--ah-primitive-font-body);
}
