.ah-character {

  .window-content {
    padding: 0;
    display: grid;
    grid-template-columns: 225px 1fr;
    grid-template-rows: auto auto 1fr;
    height: 100%;
    width: 100%;
    overflow-x: clip;

    .sheet-sidebar {
      grid-row: 1 / span 3;
      grid-column: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .sheet-header {
      position: relative;
      grid-row: 1;
      grid-column: 2;
    }

    .sheet-tabs {
      grid-row: 2;
      grid-column: 2;
    }

    .tab,
    .active {
      grid-area: active-tab;
      grid-row: 3;
      grid-column: 2;
    }
  }

  .ah-sheet__header {
    &.hero {
      background: var(--ah-hero-background-gradient);
    }
    &.adversary {
      background: var(--ah-adversary-background-gradient);
    }
  }

  .ah-character__name {
    font-size: 20px;
    text-align: center;
  }

  .ah-character__title{
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;

    &.elite {
      color: var(--ah-elite-background);
    }

    &.champion {
      color: var(--ah-champion-background);
    }
  }

  .ah-character__level {
    span, i {
    }
    input {
      color: var(--ah-content-primary-invert);
      font-size: 28px;
      font-weight: 500;
      font-family: Comic Sans MS;
      font-variant-numeric: tabular-nums;
    }
  }

  .ah-character__sidebar {
    border-right: 1px solid var(--ah-application-sidebar-border);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.3);
    padding: 1rem;
    background: var(--ah-application-background-sidebar);
    background-blend-mode: color-burn;
    gap: 0.5rem;

    &.hero {
      /*background: var(--ah-hero-background-gradient);*/
    }

    &.adversary {
      /*background: var(--ah-adversary-background-gradient);*/
    }
  }

  .ah-character__attributes {

  }

  .ah-character__parameters {
    /*background: var(--ah-surface-panel-gradient);*/
    /*border: var(--ah-border);*/
    padding: 0.25rem;
  }

  .ah-character__sidebar__portrait {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .profile-img {
      height: 200px;
      width: 100%;
      aspect-ratio: 1/1;
      cursor: pointer;
    }
  }

  .ah-character__widgets__effects {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
  }

  .ah-character__widgets__effects__entry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: var(--ah-border-muted);

    a {
      flex: 0 1 max-content;
    }
    .effect-name {
      max-width: 8ch;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .ah-character__sidebar__section {
    padding: var(--ah-application-fields-padding);
    gap: var(--ah-fieldset-fields-gap);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ah-character__engrams {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    flex: 1;
    box-shadow: var(--ah-box-shadow-bevel);
  }

  .ah-character__engrams__container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    img {
      object-fit: fill;
      width: 32px;
      height: auto;
    }
  }

  .ah-character__engrams__container__entries {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .ah-character__engrams__slot {
    --slot-width: 30px;
    position: relative;
    width: var(--slot-width);
    height: var(--slot-width);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid var(--ah-control-border);
    background:
      radial-gradient(circle at 35% 30%, rgba(255, 255, 255, 0.25), transparent 60%),
      color-mix(in srgb, var(--ah-primitive-color-grey-mid) 60%, black 10%);

    box-shadow:
      inset 0 2px 3px rgba(0, 0, 0, 0.6),
      inset 0 -1px 1px rgba(255, 255, 255, 0.15),
      0 1px 1px rgba(255, 255, 255, 0.1);

    img {
      object-fit: contain;
      width: 78%;
      height: 78%;
      border-radius: 50%;
      filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.4));
    }

    &:empty,
    &:has(img[src=""]) {
      background: radial-gradient(circle at 35% 30%, rgba(255, 255, 255, 0.05), transparent 60%),
      color-mix(in srgb, var(--ah-surface-item) 30%, black 20%);
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.75);
    }
  }

  .ah-character__inventory {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    margin:1rem;
  }

  .ah-character__equipment {
    display: grid;
    grid-template-areas:
    "mainHand armor armor offHand";
    gap: 8px;
    justify-content: center;
    align-items: center;


    .ah-character__equipment__accessories {
      grid-area: acc;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 8px;
    }
  }

  .ah-character__equipment__slot {
    border: 1px solid var(--ah-control-border);
    background: color-mix(in srgb, var(--ah-surface-item) 40%, transparent);
    --slot-size: 40px;
    width: var(--slot-size);
    height: var(--slot-size);
    display: flex;
    justify-content: center;
    align-items: center;

    &.--hero {
      background: #2d6895;
    }

    &.--adversary {
      background: #352c31;
    }

    :hover {
      background: color-mix(in srgb, var(--ah-surface-action-active) 75%, transparent);
    }

    /*&:has(img[src=""]),*/
    /*&:has(img:not([src])) {*/
    /*  background: var(--ah-surface-entry-gradient);*/
    /*}*/

    img {
      object-fit: fill;
      width: 100%;
      height: auto;
    }

    &.--armor {
      --armor-size: 80px;
      grid-area: armor;
      width: var(--armor-size);
      height: var(--armor-size);
    }

    &.--mainHand {
      grid-area: mainHand;
      --slot-size: 50px;
    }

    &.--offHand {
      grid-area: offHand;
      --slot-size: 50px;
    }

  }

  .ah-character__intents {
    .ah-character__intents__round {
      label {
        font-size: var(--ah-font-size-xl);
      }

      span {
        border: var(--ah-border);
        background: var(--ah-surface-entry-gradient);
        padding: 0.5rem;
      }
    }
  }
}
