.ah-character {
  .window-content {
    padding: 0;
    display: grid;
    grid-template-columns: 225px 1fr;
    grid-template-rows: auto auto 1fr;
    height: 100%;
    width: 100%;
    overflow-x: auto;

    .sheet-sidebar {
      grid-row: 1 / span 3;
      grid-column: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .sheet-header {
      position: relative;
      grid-row: 1;
      grid-column: 2;
    }

    .sheet-tabs {
      grid-row: 2;
      grid-column: 2;
    }

    .tab,
    .active {
      grid-area: active-tab;
      grid-row: 3;
      grid-column: 2;
    }
  }

  .ah-character__level {
    span, i {
    }
    input {
      font-size: 28px;
      background: transparent;
      width: 50px;
      text-align: center;
    }
  }

  .ah-character__sidebar {
    border-right: 1px solid var(--ah-border-application-sidebar);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.3);
    padding: 1rem;
    background: var(--ah-background-application-sidebar);
    background-blend-mode: color-burn;
    gap: 1rem;
  }

  .ah-character__sidebar__portrait {
    height: 200px;

    .profile-img {
      height: 100%;
      width: 100%;
      aspect-ratio: 1/1;
      cursor: pointer;
    }
  }

  .ah-character__sidebar__section {
    padding: var(--ah-padding-application-fields);
    gap: var(--ah-gap-fieldset-fields);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ah-character__equipment {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;

    .ah-character__equipment__slot {
      border: 1px solid var(--ah-border-control);
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        object-fit: fill;
      }
    }
  }
}
