.ah-character {

  .window-content {
    padding: 0;
    display: grid;
    grid-template-columns: 225px 1fr;
    grid-template-rows: auto auto 1fr;
    height: 100%;
    width: 100%;
    overflow-x: clip;

    .sheet-sidebar {
      grid-row: 1 / span 3;
      grid-column: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .sheet-header {
      position: relative;
      grid-row: 1;
      grid-column: 2;
    }

    .sheet-tabs {
      grid-row: 2;
      grid-column: 2;
    }

    .tab,
    .active {
      grid-area: active-tab;
      grid-row: 3;
      grid-column: 2;
    }
  }

  .ah-sheet__header {
    &.hero {
      background: var(--ah-hero-background-gradient);
    }
    &.adversary {
      background: var(--ah-adversary-background-gradient);
    }
  }

  .ah-character__sidebar {
    border-right: 1px solid var(--ah-application-sidebar-border);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.3);
    padding: 1rem;
    background: var(--ah-application-background-sidebar);
    background-blend-mode: color-burn;
    gap: 0.5rem;

    &.hero {
      /*background: var(--ah-hero-background-gradient);*/
    }

    &.adversary {
      /*background: var(--ah-adversary-background-gradient);*/
    }
  }

  .ah-character__header__attributes {
    height: 100px;
  }

  .ah-character__sidebar__portrait {
    height: 200px;

    .profile-img {
      height: 100%;
      width: 100%;
      aspect-ratio: 1/1;
      cursor: pointer;
    }
  }

  .ah-character__sidebar__section {
    padding: var(--ah-application-fields-padding);
    gap: var(--ah-fieldset-fields-gap);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ah-character__title{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;

    &.elite {
      color: var(--ah-elite-background);
    }

    &.champion {
      color: var(--ah-champion-background);
    }
  }

  .ah-character__parameters {

  }

  .ah-character__equipment {
    display: grid;
    grid-template-areas:
    "mainHand armor armor offHand"
    "acc acc   acc   acc";
    gap: 8px;
    justify-content: center;
    align-items: center;

    .ah-character__equipment__slot {
      border: 1px solid var(--ah-control-border);
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:has(img[src=""]),
      &:has(img:not([src])) {
        background: var(--ah-surface-entry-gradient);
      }

      img {
        object-fit: fill;
        width: 100%;
        height: auto;
      }

      &.--mainHand {
        grid-area: mainHand;
      }

      &.--armor {
        grid-area: armor;
        width: 60px;
        height: 60px;
      }

      &.--offHand {
        grid-area: offHand;
      }

    }

    .ah-character__equipment__accessories {
      grid-area: acc;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 8px;
    }
  }

}
