.ah-follower {

  .window-content {
    padding: 0;
    height: 100%;
    width: 100%;
  }

  .tab {
    flex: 1;
  }

}

.ah-sheet__header {
  &.companion {
    background: var(--ah-companion-background-gradient);
  }
  &.guest {
    background: var(--ah-guest-background-gradient);
  }
}

.ah-follower__header {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.ah-follower-header__name {
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    width: 64px;
    height: 64px;
  }
}


