.ah-item {

  .window-content {
    padding: 8px;
  }

  .tab {
    padding: 8px;
  }

  .ah-item__header {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }

  .ah-item-header__name {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      width: 48px;
      height: 48px;
    }
  }

  .ah-item__header__properties {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.ah-item__revision {
  width: 80px;
}

.ah-item__slug {
  width: 300px;
}


