.ah-rule-element__section {
  header {
    padding: 0 0.5rem;
    background: var(--ah-list-header-background);
    box-shadow: 1px 2px var(--ah-color-box-shadow-list-header);
    display: flex;
    justify-content: space-between;

    label {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    span,
    label,
    i {
      color: var(--ah-list-color) !important;
      text-shadow: 1px 1px var(--ah-color-text-shadow-list);
      font-weight: var(--ah-font-weight-bold);
      border-radius: 4px;
    }
  }
}

.ah-rule-element__section__content {
  padding: 0.5rem;
  background: none;
}

.ah-rule-element__item {
  border-radius: 5px;
  border: var(--ah-list-item-border);
  background: none;
}

.ah-rule-element__item__content {
  background: none;
  padding: 0.5rem;
  backdrop-filter: saturate(200%);
}
