.ah-unit__parameters {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  box-shadow: var(--ah-box-shadow-bevel);
  padding: 0.5rem;
}

.ah-unit__resources {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 180px;
}
