@font-face {
  font-family: 'Pixeloid';
  src: url('../fonts/PixeloidSans.woff2');
}

@font-face {
  font-family: 'PressStart2P';
  src: url('../fonts/PressStart2P-Regular.ttf');
}

:root{
  --ah-content-color: white;
  --ah-content-action-color: #e8681a;
  --ah-content-action-hover-color: #d69575;

  --ah-border: 0.065rem solid #3d5f8f;
  --ah-trait-background: #e8681a;
  --ah-icon-color: #fa8c49;
  --ah-trait-border: black;
  --ah-trait-color: #f4f0f0;
  --ah-document-header-background: #354564;
  --ah-entry-background: #4f5e8c;


  /*Override*/
  /*--body-font: PressStart2P, 'Times New Roman', serif;*/
  /*--header-font: Pixeloid, 'Open Sans', serif;*/
}

i {
  color: var(--ah-icon-color);
}

img {
  image-rendering: crisp-edges;
}

.index-title {
  font-size: 5em;
  text-transform: uppercase;
}

.index-subtitle {
  font-style: italic;
  text-transform: uppercase;
}

.document-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: var(--ah-document-header-background);
  color: var(--ah-content-color);
}

.document-header__name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-weight: bold;
  padding: 8px;
}

.document-header__properties {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin-right: 1rem;
}

.document-traits {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;

  &.--center {
    justify-content: center;
  }

  .document-trait {
    color: var(--ah-trait-color);
    background: var(--ah-trait-background);
    padding: 4px;
    font-size: large;
    text-transform: uppercase;
  }

  &.--nested {
    .document-trait {
      font-size: medium;
    }
  }
}

.entry__grid {
  --entry-size: 160px;
  --icon--size: 64px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--entry-size), 1fr));

  &.--large {
    --entry-size: 300px;
    --icon-size: 196px;
  }

  article {
    padding: 28px;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 0.5rem;

      span {
        font-size: large;
        text-transform: uppercase;
      }

      img {
        width: var(--icon--size);
        height: var(--icon--size);
      }
    }


  }
}

.class__skills {
}
