@font-face {
  font-family: 'Pixeloid';
  src: url('../fonts/PixeloidSans.woff2');
}

:root{
  --ah-border: 0.065rem solid #3d5f8f;
  --ah-trait-background: #fa8c49;
  --ah-icon-color: #fa8c49;
  --ah-trait-border: black;
  --ah-trait-color: #f4f0f0;
  --ah-document-header-background:#e3edfb;

  /*Override*/
  --body-font: Pixeloid, 'Times New Roman', serif;
  /*--header-font: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
}

i {
  color: var(--ah-icon-color);
}

img {
}

.document-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: var(--ah-document-header-background);
}

.document-header__name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-weight: bold;
  padding: 8px;
}

.document-header__properties {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin-right: 1rem;
}

.document-traits {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;

  &.--center {
    justify-content: center;
  }

  .document-trait {
    color: var(--ah-trait-color);
    background: var(--ah-trait-background);
    padding: 4px;
    font-size: smaller;
  }

  &.--nested {
    .document-trait {
      padding: 2px;
      font-size: small;
    }
  }
}

.class__skills {
}
