---
---
@import "main";

:root {
  --icon-size: 20px;
}

.document-header {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  img {
    width: var(--icon-size);
    height: var(--icon-size);
  }
}
