:root {

  /* UI States */
  --ah-color-active: #5c7a5c;
  --ah-color-inactive: #7a4f4f;

  /* Character Resources */
  --ah-color-hp: linear-gradient(90deg, #315936 0%, #63b05f 100%);
  --ah-color-mp: linear-gradient(90deg, #232d50 0%, #587fab 100%);
  --ah-color-ip: linear-gradient(90deg, #8f8352 0%, #d8cf78 100%);
  --ah-color-tp: linear-gradient(90deg, darkgoldenrod 0%, orange 100%);

  /* Check Difficulty */
  --ah-color-difficulty-easy: #3d6b3d;
  --ah-color-difficulty-normal: #b59f3b;
  --ah-color-difficulty-hard: #b87432;
  --ah-color-difficulty-veryHard: #8c2e2e;

  /* Check Result */
  --ah-background-default: linear-gradient(to right, #7da0ca, #004f89);
  --ah-background-success: linear-gradient(to right, #91c469, #228c22);
  --ah-background-failure: linear-gradient(to right, #edb7aa, #880012);
  --ah-color-critical-start: #f7c754;
  --ah-color-critical-end: #d17f10;
  --ah-background-critical: linear-gradient(to right, var(--ah-color-critical-start), var(--ah-color-critical-end));

  --ah-fumble-start: #b087a6;
  --ah-fumble-end: #15031e;
  --ah-background-fumble: linear-gradient(to right, var(--ah-fumble-start), var(--ah-fumble-end));

  /* Result Colors */
  --ah-background-result: linear-gradient(to right, #7da0ca, #004f89);
  --ah-border-result: #373434;
  --ah-background-hit: linear-gradient(to right, #228c22, #91c469);
  --ah-border-hit: #91c469;
  --ah-background-miss: linear-gradient(to right, #880012, #edb7aa);
  --ah-border-miss: #edb7aa;

  /* Damage Types */
  --ah-background-physical: linear-gradient(to right, #a1a1a1, #8c8c8c);
  --ah-border-physical: #a1a1a1;
  --ah-background-electric: linear-gradient(to right, #fdda76, #fbc847);
  --ah-border-electric: #fdda76;
  --ah-background-dark: linear-gradient(to right, #543987, #2b0d6b);
  --ah-border-dark: #543987;
  --ah-background-acid: linear-gradient(to right, #d28d3e, #9f5b1f);
  --ah-border-acid: #d28d3e;
  --ah-background-fire: linear-gradient(to right, #f58a00, #c05b00);
  --ah-border-fire: #f58a00;
  --ah-background-cold: linear-gradient(to right, #bce4fa, #4f7b9a);
  --ah-border-cold: #bce4fa;
  --ah-background-light: linear-gradient(to right, #fff7b2, #e1c29f);
  --ah-border-light: #fff7b2;
  --ah-background-poison: linear-gradient(to right, #d678a2, #a65a83);
  --ah-border-poison: #d678a2;
  --ah-background-untyped: linear-gradient(to right, #c0c0c0, #a8a8a8);
  --ah-border-untyped: #a8a8a8;

  /* Action Types */
  --ah-background-damage: linear-gradient(to right, #a1a1a1, #8c8c8c);
  --ah-border-damage: black;

}
