:root {
  /* Character Resources */
  --ah-color-hp: linear-gradient(90deg, #315936 0%, #63b05f 100%);
  --ah-color-mp: linear-gradient(90deg, #232d50 0%, #587fab 100%);
  --ah-color-ip: linear-gradient(90deg, #8f8352 0%, #d8cf78 100%);
  --ah-color-tp: linear-gradient(90deg, darkgoldenrod 0%, orange 100%);

  /* Check Difficulty */
  --ah-color-difficulty-easy: #3d6b3d;
  --ah-color-difficulty-normal: #b59f3b;
  --ah-color-difficulty-hard: #b87432;
  --ah-color-difficulty-veryHard: #8c2e2e;

  /* Check Result */
  --ah-background-default: linear-gradient(to right, #7da0ca, #004f89);
  --ah-background-success: linear-gradient(to right, #91c469, #228c22);
  --ah-background-failure: linear-gradient(to right, #edb7aa, #880012);
  --ah-color-critical-start: #f7c754;
  --ah-color-critical-end: #d17f10;
  --ah-background-critical: linear-gradient(to right, var(--ah-color-critical-start), var(--ah-color-critical-end));

  --ah-fumble-start: #b087a6;
  --ah-fumble-end: #15031e;
  --ah-background-fumble: linear-gradient(to right, var(--ah-fumble-start), var(--ah-fumble-end));

}
