:root {

  /*Attributes*/
  --ah-icon-might: url("../../../../assets/icons/attributes/might.png");
  --ah-icon-dexterity: url("../../../../assets/icons/attributes/dexterity.png");
  --ah-icon-insight: url("../../../../assets/icons/attributes/insight.png");
  --ah-icon-willpower: url("../../../../assets/icons/attributes/willpower.png");

  .ah-icon-might {
    background-image: var(--ah-icon-might);
  }

  .ah-icon-dexterity {
    background-image: var(--ah-icon-dexterity);
  }

  .ah-icon-insight {
    background-image: var(--ah-icon-insight);
  }

  .ah-icon-willpower {
    background-image: var(--ah-icon-willpower);
  }

  /* Resources */
  --ah-icon-hp: url("../../../../assets/icons/parameters/hp.png");
  --ah-icon-thp: url("../../../../assets/icons/parameters/thp.png");
  --ah-icon-mp: url("../../../../assets/icons/parameters/mp.png");
  --ah-icon-ip: url("../../../../assets/icons/parameters/ip.png");
  --ah-icon-tp: url("../../../../assets/icons/parameters/tp.png");

  .ah-icon-hp {
    background-image: var(--ah-icon-hp);
  }

  .ah-icon-thp {
    background-image: var(--ah-icon-thp);
  }

  .ah-icon-mp {
    background-image: var(--ah-icon-mp);
  }

  .ah-icon-ip {
    background-image: var(--ah-icon-ip);
  }

  .ah-icon-tp {
    background-image: var(--ah-icon-tp);
  }

  /* Parameters */
  --ah-icon-def: url("../../../../assets/icons/parameters/def.png");
  --ah-icon-mdef: url("../../../../assets/icons/parameters/mdef.png");
  --ah-icon-init: url("../../../../assets/icons/parameters/init.png");
  --ah-icon-level: url("../../../../assets/icons/parameters/level.png");

  .ah-icon-def {
    background-image: var(--ah-icon-def);
  }

  .ah-icon-mdef {
    background-image: var(--ah-icon-mdef);
  }

  .ah-icon-init {
    background-image: var(--ah-icon-init);
  }

  .ah-icon-level {
    background-image: var(--ah-icon-level);
  }

  /*Damage Types*/
  --ah-icon-untyped: url("../../../../assets/icons/affinities/untyped.png");

  --ah-icon-elemental: url("../../../../assets/icons/affinities/elemental.png");
  --ah-icon-fire: url("../../../../assets/icons/affinities/fire.png");
  --ah-icon-cold: url("../../../../assets/icons/affinities/cold.png");
  --ah-icon-electric: url("../../../../assets/icons/affinities/electric.png");
  --ah-icon-acid: url("../../../../assets/icons/affinities/acid.png");

  --ah-icon-physical: url("../../../../assets/icons/affinities/physical.png");
  --ah-icon-slashing: url("../../../../assets/icons/affinities/slashing.png");
  --ah-icon-piercing: url("../../../../assets/icons/affinities/piercing.png");
  --ah-icon-bludgeoning: url("../../../../assets/icons/affinities/bludgeoning.png");

  --ah-icon-spiritual: url("../../../../assets/icons/affinities/spiritual.png");
  --ah-icon-light: url("../../../../assets/icons/affinities/light.png");
  --ah-icon-dark: url("../../../../assets/icons/affinities/dark.png");

  --ah-icon-poison: url("../../../../assets/icons/affinities/poison.png");


  .ah-icon-elemental {
    background-image: var(--ah-icon-elemental);
  }

  .ah-icon-fire {
    background-image: var(--ah-icon-fire);
  }

  .ah-icon-cold {
    background-image: var(--ah-icon-cold);
  }

  .ah-icon-electric {
    background-image: var(--ah-icon-electric);
  }

  .ah-icon-acid {
    background-image: var(--ah-icon-acid);
  }

  .ah-icon-physical {
    background-image: var(--ah-icon-physical);
  }

  .ah-icon-slashing {
    background-image: var(--ah-icon-slashing);
  }

  .ah-icon-piercing {
    background-image: var(--ah-icon-piercing);
  }

  .ah-icon-bludgeoning {
    background-image: var(--ah-icon-bludgeoning);
  }

  .ah-icon-spiritual {
    background-image: var(--ah-icon-spiritual);
  }

  .ah-icon-light {
    background-image: var(--ah-icon-light);
  }

  .ah-icon-dark {
    background-image: var(--ah-icon-dark);
  }

  .ah-icon-poison {
    background-image: var(--ah-icon-poison);
  }

  .ah-icon-untyped {
    background-image: var(--ah-icon-untyped);
  }

  /*Checks*/
  --ah-icon-check-defense: url("../../../../assets/icons/checks/check-defense.svg");
  --ah-icon-check-attribute: url("../../../../assets/icons/checks/attribute_check.png");
  --ah-icon-check-ritual: url("../../../../assets/icons/checks/ritual_check.png");
  --ah-icon-check-open: url("../../../../assets/icons/checks/perspective-dice-six-faces-random.svg");
  --ah-icon-check-difficulty: url("../../../../assets/icons/checks/difficulty.png");
  --ah-icon-check-modifier: url("../../../../assets/icons/checks/modifier.png");
  --ah-icon-check-roll: url("../../../../assets/icons/checks/dice-target.svg");
  --ah-icon-check-result: url("../../../../assets/icons/checks/check-result.png");
  --ah-icon-check-hr: url("../../../../assets/icons/checks/hr.png");

  .ah-icon-check-roll {
    background-image: var(--ah-icon-check-roll);
  }

  .ah-icon-check-ritual {
    background-image: var(--ah-icon-check-ritual);
  }

  .ah-icon-check-attribute {
    background-image: var(--ah-icon-check-attribute);
  }

  .ah-icon-check-difficulty {
    background-image: var(--ah-icon-check-difficulty);
  }

  .ah-icon-check-defense {
    background-image: var(--ah-icon-check-defense);
  }

  .ah-icon-check-modifier {
    background-image: var(--ah-icon-check-modifier);
  }

  .ah-icon-check-result {
    background-image: var(--ah-icon-check-result);
  }

  .ah-icon-check-hr {
    background-image: var(--ah-icon-check-hr);
  }

  .ah-icon-check-potency {
  }

  /* Actions */
  --ah-icon-rest-short: url("../../../../assets/icons/actions/rest-short.png");
  --ah-icon-rest-long: url("../../../../assets/icons/actions/rest-long.png");
  --ah-icon-resupply: url("../../../../assets/icons/actions/restock.png");
  --ah-icon-damage: url("../../../../assets/icons/common/damage.png");
  --ah-icon-resource: url("../../../../assets/icons/common/resource.png");
  --ah-icon-cost: url("../../../../assets/icons/common/cost.png");
  --ah-icon-effects: url("../../../../assets/icons/common/effects.png");
  --ah-icon-target: url("../../../../assets/icons/common/target.png");

  --ah-icon-attack: url("../../../../assets/icons/actions/attack.png");
  --ah-icon-defend: url("../../../../assets/icons/actions/defend.png");
  --ah-icon-skill: url("../../../../assets/icons/actions/skill.png");
  --ah-icon-spell: url("../../../../assets/icons/actions/spell.png");
  --ah-icon-inventory: url("../../../../assets/icons/actions/inventory.png");
  --ah-icon-equipment: url("../../../../assets/icons/actions/equipment.png");
  --ah-icon-objective: url("../../../../assets/icons/actions/objective.png");

  --ah-icon-ability: url("../../../../assets/icons/actions/ability.png");

  --ah-icon-maneuver: url("../../../../assets/icons/actions/maneuver.png");
  --ah-icon-recover: url("../../../../assets/icons/actions/recover.png");

  .ah-icon-recover {
    background-image: var(--ah-icon-recover);
  }

  .ah-icon-ability {
    background-image: var(--ah-icon-ability);
  }

  .ah-icon-maneuver {
    background-image: var(--ah-icon-maneuver);
  }

  .ah-icon-rest-short {
    background-image: var(--ah-icon-rest-short);
  }

  .ah-icon-rest-long {
    background-image: var(--ah-icon-rest-long);
  }

  .ah-icon-resupply {
    background-image: var(--ah-icon-resupply);
  }

  .ah-icon-damage {
    background-image: var(--ah-icon-damage);
  }

  .ah-icon-target {
    background-image: var(--ah-icon-target);
  }

  .ah-icon-attack {
    background-image: var(--ah-icon-attack);
  }

  .ah-icon-defend {
    background-image: var(--ah-icon-defend);
  }

  .ah-icon-skill {
    background-image: var(--ah-icon-skill);
  }

  .ah-icon-spell {
    background-image: var(--ah-icon-spell);
  }

  .ah-icon-inventory {
    background-image: var(--ah-icon-inventory);
  }

  .ah-icon-equipment {
    background-image: var(--ah-icon-equipment);
  }

  .ah-icon-objective {
    background-image: var(--ah-icon-objective);
  }

  .ah-icon-resource {
    background-image: var(--ah-icon-resource);
  }

  .ah-icon-cost {
    background-image: var(--ah-icon-cost);
  }

  .ah-icon-effects {
    background-image: var(--ah-icon-effects);
  }

  --ah-icon-pipeline-apply-damage: url("../../../../assets/icons/pipelines/apply-damage.svg");

  .ah-icon-pipeline-apply-damage {
    background-image: var(--ah-icon-pipeline-apply-damage);
    background-size: 75%;
  }

  --ah-icon-ui-more: url("../../../../assets/icons/ui/more.svg");

  .ah-icon-more {
    background-image: var(--ah-icon-ui-more);
  }

  .ah-icon-placeholder {
    background-image: url('/icons/svg/aura.svg');
  }


}
